{% extends 'base.html' %}
{% load static %}
{% block title %} xGino {% endblock %}
{% block content %}

<!-- intro section -->
<section id="intro">   
    <div class="intro-overlay"></div>	
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">

                <h5>“There is no joy without pain.”</h5>
                <h5>“<span class="auto-type"></span>”</h5>

                <script>
                    var typed = new Typed(".auto-type", {
                        strings: ["There is no joy without pain.", "Eating", "allsd"],
                        typeSpeed: 150,
                        backSpeed: 150,
                        loop: true
                    })
                </script>


                <h1>my name is Gin.</h1>

                <p class="intro-position">
                    <span>Full-stack Dev</span>
                    <span>Data Analyst</span> 
                    <span>AI Engineer <small>(train)</small></span> 
                </p>

                <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

            </div>  
            
        </div>   		 		
    </div> <!-- /intro-content --> 

    <ul class="intro-social">        
        <li><a href="https://nl.linkedin.com/in/gin-li-49369a147/en?trk=people-guest_people_search-card"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/BuilderGin"><i class="fa fa-github"></i></a></li>
        <li><a href="mailto:ginggeli@hotmail.com"><i class="fa fa-envelope"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
   </ul> <!-- /intro-social -->      	

</section> <!-- /intro -->


<!-- about section -->
<section id="about">  

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>About</h5>
            <h1>Let me introduce myself.</h1>

            <div class="intro-info">

                <img src="{% static 'portfolio/images/profile-pic.jpg' %}" alt="Profile Picture">

                <p class="lead">Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.</p>
            </div>   			

        </div>   		
    </div> <!-- /section-intro -->

    <div class="row about-content">

        <div class="col-six tab-full">

            <h3>Profile</h3>
            <p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p>

            <ul class="info-list">
                <li>
                    <strong>Name:</strong>
                    <span>Gin Li</span>
                </li>
                <li>
                    <strong>Birth Date:</strong>
                    <span>October 25, 1999</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>Data Science, Ai Engineer</span>
                </li>
                <li>
                    <strong>Website:</strong>
                    <span>www.xgino.com</span>
                </li>
                <li>
                    <strong>Location:</strong>
                    <span>The Netherlands</span>
                </li>

            </ul> <!-- /info-list -->

        </div>

        <div class="col-six tab-full">

            <h3>Skills</h3>
            <p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p>

             <ul class="skill-bars">
                <li>
                    <div class="progress percent40"><span>40%</span></div>
                    <strong>Machine Learning</strong>
                </li>
                <li>
                    <div class="progress percent60"><span>60%</span></div>
                    <strong>Data Visualization</strong>
                </li>
                <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>Data Mining</strong>
                </li>
                <li>
                    <div class="progress percent95"><span>95%</span></div>
                    <strong>Python</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong>Problem-Solving</strong>
                </li>
   
             </ul> <!-- /skill-bars -->		

        </div>

    </div>

    <!-- <div class="row button-section">
        <div class="col-twelve">
            <a href="discordapp.com/users/428446446153367554" title="Contact Me" class="button stroke smoothscroll">Contact Me</a>
            <a href="#" title="Download CV" class="button button-primary">Download CV</a>
        </div>   		
    </div> -->

</section> <!-- /process-->    


<!-- resume Section -->
<section id="resume" class="grey-section">
    <div class="row section-intro">
    <div class="col-twelve">

        <h5>Resume</h5>
        <h1>More of my credentials.</h1>

        <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

    </div>   		
</div> <!-- /section-intro--> 

<div class="row resume-timeline">

    <div class="col-twelve resume-header">

        <h2>Work Experience</h2>

    </div> <!-- /resume-header -->

    <div class="col-twelve">

        <div class="timeline-wrap">

            <div class="timeline-block">

                <div class="timeline-ico">
                    <i class="fa fa-briefcase"></i>
                </div>

                <div class="timeline-header">
                    <h3>Full-Stack Developer</h3>
                    <p>February 2021 - Present</p>
                </div>

                <div class="timeline-content">
                    <h4>Buildblock</h4>
                    <p>Check the client's history and present situation before developing a web application to meet the client's needs. This might be a website or an online store with the desired features.</p>
                </div>

            </div> <!-- /timeline-block -->

            <div class="timeline-block">

                <div class="timeline-ico">
                    <i class="fa fa-briefcase"></i>
                </div>

                <div class="timeline-header">
                    <h3>Game Developer</h3>
                    <p>April 2021 - January 2022</p>
                </div>

                <div class="timeline-content">
                    <h4>RockIT</h4>
                    <p>Tkinter-based Windows desktop application with OpenCV. a physically demanding interactive game where players must move. While playing a game, try to encourage people to exercise more. Use a webcam to capture the players and track their movements.</p>
                </div>

            </div> <!-- /timeline-block -->

            <div class="timeline-block">

                <div class="timeline-ico">
                    <i class="fa fa-briefcase"></i>
                </div>

                <div class="timeline-header">
                    <h3>CMS Developer</h3>
                    <p>October 2018 - February 2019</p>
                </div>

                <div class="timeline-content">
                    <h4>Triple P Solutions</h4>
                    <p>creating a webshop extension using a CMS on their current website. installing the necessary plugins, templates, and security tools, and hosting the application with the hosting provider.</p>
                </div>

            </div> <!-- /timeline-block -->

        </div> <!-- /timeline-wrap -->   			

    </div> <!-- /col-twelve -->
    
</div> <!-- /resume-timeline -->

<div class="row resume-timeline">

    <div class="col-twelve resume-header">

        <h2>Education</h2>

    </div> <!-- /resume-header -->

    <div class="col-twelve">

        <div class="timeline-wrap">

            <div class="timeline-block">

                <div class="timeline-ico">
                    <i class="fa fa-graduation-cap"></i>
                </div>

                <div class="timeline-header">
                    <h3>Bachelor Degree</h3>
                    <p>October 2022 - Present</p>
                </div>

                <div class="timeline-content">
                    <h4>Breda University of Applied Sciences</h4>
                    <p>Data Science & Artificial Intelligence</p>
                </div>

            </div> <!-- /timeline-block -->

            <div class="timeline-block">

                <div class="timeline-ico">
                    <i class="fa fa-graduation-cap"></i>
                </div>

                <div class="timeline-header">
                    <h3>Specialist Education</h3>
                    <p>September 2019 - June 2022</p>
                </div>

                <div class="timeline-content">
                    <h4>ROC van Amsterdam (Hilversum)</h4>
                    <p>Software Developer -> Web Development, App Development, Desktop Development, Game Development </p>
                </div>

            </div> <!-- /timeline-block -->

        </div> <!-- /timeline-wrap -->   			

    </div> <!-- /col-twelve -->
    
</div> <!-- /resume-timeline -->
    
</section> <!-- /features -->


<!-- Portfolio Section -->
<section id="portfolio">
    <div class="row section-intro">
    <div class="col-twelve">

        <h5>Portfolio</h5>
        <h1>Check Out Some of My Works.</h1>

        <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

    </div>   		
</div> <!-- /section-intro--> 

<div class="row portfolio-content">

    <div class="col-twelve">

        <!-- portfolio-wrapper -->
        <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <img src="{% static 'portfolio/images/portfolio/webdevelopment.jpg' %}" alt="Full-stack">
                    <a href="#modal-01" class="overlay">	                  	           
                        <div class="folio-item-table">
                            <div class="folio-item-cell">
                                <h3 class="folio-title">Full-stack</h3>	     					    
                                <span class="folio-types">Projects about web development</span>
                            </div>	                      	
                        </div>                    
                    </a>
                </div>	               
            </div> <!-- /folio-item -->

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <img src="{% static 'portfolio/images/portfolio/datascience.jpg' %}" alt="Data Science">
                    <a href="#modal-02" class="overlay">              		                  
                        <div class="folio-item-table">
                            <div class="folio-item-cell">
                                <h3 class="folio-title">Data Science</h3>	     					    
                                <span class="folio-types">Data Science things</span>
                            </div> 	                      	
                        </div>                    
                    </a>
                </div>
            </div> <!-- /folio-item -->

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <img src="{% static 'portfolio/images/portfolio/machineLearning.jpg' %}" alt="Machine Learning">
                    <a href="#modal-03" class="overlay">             		                  
                        <div class="folio-item-table">
                            <div class="folio-item-cell">
                                <h3 class="folio-title">Machine Learning</h3>	     					    
                                <span class="folio-types">Parts about AI</span>		     		
                            </div> 	                      	
                        </div>                    
                    </a>
                </div>
            </div> <!-- /folio-item -->

            <div class="bgrid folio-item">
                <div class="item-wrap">
                    <img src="{% static 'portfolio/images/portfolio/robotics.jpg' %}" alt="Robotics">
                    <a href="#modal-04" class="overlay">
                        <div class="folio-item-table">
                            <div class="folio-item-cell">
                                <h3 class="folio-title">Robotics</h3>	     					    
                                <span class="folio-types">Hardware + Software builds</span>		     		
                            </div>	                      	
                        </div>                    
                    </a>
                </div>
            </div> <!-- /folio-item -->   

            <!-- modal popups - begin
            ============================================================= -->
            <div id="modal-01" class="popup-modal slider mfp-hide">	

                <div class="media">
                    <img src="{% static 'portfolio/images/portfolio/modals/m-webdevelopment.jpg' %}" alt="" />
                </div>      	

                <div class="description-box">
                    <h4>My projects</h4>		      
                    <p>
                        - <a href="https://www.brediusrollers.nl/">Bredius Rollers</a> | wheelchair hockey club website
                        </br>
                        
                        - <a href="https://lavida-zorg.nl/">Lavida Zorg</a> | Zorg detacheringsbureau
                        </br>
                        
                        - <a href="https://people-inbusiness.nl/">People In Business</a> | Bewaak detacheringsbureau
                        </br>
                        
                        - <a href="https://nwmworldwide.nl/">New Wave Management</a> | Detacheringsbureau
                        </br>
                        
                    </p>

                    <div class="categories">Web Development</div>			               
                </div>

                <div class="link-box">
                    <a href="#" class="popup-modal-dismiss">Close</a>
                </div>		      

            </div> <!-- /modal-01 -->

            <div id="modal-02" class="popup-modal slider mfp-hide">	

                    <div class="media">
                        <img src="{% static 'portfolio/images/portfolio/modals/m-datascience.jpg' %}" alt="" />
                    </div>      	

                <div class="description-box">
                    <h4>My Projects</h4>		      
                    <p>
                        - <a href="#">Soon available</a>
                        </br>

                    </p>

                    <div class="categories">Data Science</div>			               
                </div>

                <div class="link-box">
                    <a href="#" class="popup-modal-dismiss">Close</a>
                </div>		      

            </div> <!-- /modal-02 -->

            <div id="modal-03" class="popup-modal slider mfp-hide">	

                    <div class="media">
                        <img src="{% static 'portfolio/images/portfolio/modals/m-machineLearning.jpg' %}" alt="" />
                    </div>      	

                <div class="description-box">
                    <h4>My Projects</h4>		      
                    <p>
                        - <a href="#">Currently working on it</a>
                        </br>

                    </p>

                    <div class="categories">Machine Learning</div>			               
                </div>

                <div class="link-box">
                    <a href="#" class="popup-modal-dismiss">Close</a>
                </div>		      

            </div> <!-- /modal-03 -->

            <div id="modal-04" class="popup-modal slider mfp-hide">	

                    <div class="media">
                        <img src="{% static 'portfolio/images/portfolio/modals/m-robotics.jpg' %}" alt="" />
                    </div>      	

                <div class="description-box">
                    <h4>My Projects</h4>		      
                    <p>
                        - <a href="#">Goaly bot</a>: Currently working on it
                        </br>

                    </p>

                    <div class="categories">Robotics</div>			               
                </div>

                <div class="link-box">
                    <a href="#" class="popup-modal-dismiss">Close</a>
                </div>		      

            </div> <!-- /modal-04 -->


            <!-- modal popups - end
            ============================================================= -->

        </div> <!-- /portfolio-wrapper --> 

    </div>  <!-- /twelve -->   

</div> <!-- /portfolio-content --> 
    
</section> <!-- /portfolio --> 


<!-- CTA Section -->
<!-- <section id="cta" class="grey-section">
    <div class="row cta-content">
        <div class="col-twelve section-ads">  
            <h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost.</a></h2>

            <p class="lead">
            Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
            Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>. 
            </p>

            <div class="action">
                <a class="button button-primary large" href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>
            </div>		     	
        </div>
    </div> 
</section>  -->
<!-- /cta --> 


<!-- stats Section -->
<section id="stats" class="count-up">
    <div class="row">
        <div class="col-twelve">
            <div class="block-1-4 block-s-1-3 block-tab-1-2 block-mob-full stats-list">
                <div class="bgrid stat">
                    <div class="icon-part">
                        <i class="icon-pencil-ruler"></i>
                    </div>

                    <h3 class="stat-count">
                        <p id="projects"></p>
                    </h3>
                    <h5 class="stat-title">Projects Completed</h5>

                </div> <!-- /stat -->					

                <div class="bgrid stat">
                    <div class="icon-part">
                        <i class="icon-users"></i>
                    </div>

                    <h3 class="stat-count">
                        <p id="happyClients"></p>
                    </h3>
                    <h5 class="stat-title">Happy Clients</h5>

                </div> <!-- /stat -->


                <div class="bgrid stat">

                    <div class="icon-part">
                        <i class="icon-cup"></i>
                    </div>

                    <h3 class="stat-count">
                        <p id="cofee_cups"></p>
                    </h3>
                    <h5 class="stat-title">Coffee Cups / Energy Drink</h5>
                    
                </div> <!-- /stat -->
                
                <div class="bgrid stat">
                    
                    <div class="icon-part">
                        <i class="icon-clock"></i>
                    </div>
                    
                    <h3 class="stat-count">
                        <p id="WorkingHours"></p>
                    </h3>
                    <h5 class="stat-title">Work / Study Hours</h5>

                </div> <!-- /stat -->

            </div> <!-- /stats-list -->

        </div> <!-- /twelve -->
    </div> <!-- /row -->

</section> <!-- /stats -->
 
<!-- services Section -->
<!-- <section id="services">
    <div class="overlay"></div>
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Services</h5>
            <h1>What Can I Do For You?</h1>
            <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>
        </div>   		
    </div> 

    <div class="row services-content">

        <div id="owl-slider" class="owl-carousel services-list">

            <div class="service">	

                <span class="icon"><i class="icon-earth"></i></span>            

                <div class="service-content">	

                    <h3>Webdesign</h3>

                    <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>
                    
                </div> 	         	 

            </div> 

            <div class="service">	
                <span class="icon"><i class="icon-window"></i></span>                          
                <div class="service-content">	
                    <h3>Web Development</h3>  
                    <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>
                </div>	                          
            </div> 

            <div class="service">
                <span class="icon"><i class="icon-paint-brush"></i></span>		            
                <div class="service-content">
                    <h3>Branding</h3>
                    <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p> 

                </div> 	            	               

            </div> 

            <div class="service">
                <span class="icon"><i class="icon-toggles"></i></span>	              
                <div class="service-content">
                    <h3>UI/UX Design</h3>
                    <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                    </p>  
                </div>                
            </div> 

            <div class="service">
                <span class="icon"><i class="icon-image"></i></span>	            
                <div class="service-content">
                    <h3>Graphics Design</h3>
                    <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p> 
                </div>	               

            </div> 

            <div class="service">

                <span class="icon"><i class="icon-chat"></i></span>	   	           

                <div class="service-content">

                    <h3>Consultancy</h3>

                    <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p> 
                        
                </div>	               

            </div> 
        </div>
    </div> 
</section>  -->
<!-- /services -->	


<footer>
    <div class="row">

        <div class="col-six tab-full pull-right social">

            <ul class="footer-social">   
                </br>     
                <li><a href="https://nl.linkedin.com/in/gin-li-49369a147/en?trk=people-guest_people_search-card"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/BuilderGin"><i class="fa fa-github"></i></a></li>
                <li><a href="mailto:ginggeli@hotmail.com"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul> 
             
        </div>

        <div class="col-eight tab-full">
            <div class="copyright">
                <span>© Copyright <span id="year"></span></span> 
                <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span> 	
                <span>Build by <a href="https://www.xgino.com/">xGino</a> All rights reserved.</span>	
                       	
            </div>		                  
        </div>

        <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
        </div>

     </div> <!-- /row -->     	
</footer>  


{% endblock %}