
.animate-gradient-text {
	max-width: min-content;
}


.animate-gradient-text {
	background-image: linear-gradient(120deg, #1cdce8, #bb77ed, #f34a62);
	background-size: 200%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: animated-gradient 5s ease-in-out infinite;
}

@keyframes animated-gradient {
	0%,
	100% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}
}